* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: $primary-color;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: $light-color;
  color: $black-color;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black-color;
}

a,
button,
.link {
  transition: 0.2s ease;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;

  &:hover {
    opacity: 80%;
  }
}

img {
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
