* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: $primary-color;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: $light-color; 
  color: $black-color;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black-color;
}

a, button, .link {
  transition: .2s ease;
  cursor: pointer;

  &:hover {
    opacity: 80%;
  }
}
 
img {
  width: 100%;
}