nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  padding-right: 0;
  background-color: $white-color;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: $box-shadow;

  ul {
    display: flex;
    gap: 0rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        border: none;
        font-family: "Space Grotesk", sans-serif;
        font-size: 1rem;
        color: $black-color;
      }
    }

    .follow {
      gap: 0.5rem;
    }
  }

  .logo__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    gap: 1rem;

    .logo__text {
      font-weight: bolder;
    }

    .img__container {
      max-width: 4rem;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    .follow {
      padding: 0.8rem 1.5rem !important;

      .text {
        display: none;
      }
    }

    .follow,
    .settings-open {
      display: none !important;
    }

    ul {
      margin-right: 1.5rem;
    }
  }
}
