@mixin button($background: none, $color: $black-color) {
  transition: 0.3s ease;
  background: $background;
  color: $color;
  border: 1px solid rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  padding: 0.8rem 2rem;

  &:hover {
    opacity: 80%;
  }
}

button,
.button {
  @include button;
}

.button__primary {
  @include button($primary-color, $light-color);
}

.button__secondary {
  @include button($light-color, $primary-color);
}

.button__light {
  @include button($white-color, $primary-color);
}

.button__group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.icon__button {
  padding: 0.8rem;

  .material-icons {
    font-size: 1.5rem !important;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  gap: 1rem;
  margin: 1rem 1.5rem;
  float: right;
  top: 0;

  button {
    gap: 4px;
  }
}

.button__group {
  align-items: center;
  justify-content: center;
  margin: 0;
}

button:disabled {
  opacity: 70%;
  cursor: not-allowed;
}

#toggle-buttons {
  display: none;
  box-shadow: $box-shadow;
  padding: 0.5rem 1.5rem;
  max-width: 1.5rem;
  margin-top: 0.5rem;

  .material-icons:active {
    animation: 1s ease-out rotate;
  }
}

@media screen and (max-width: 768px) {
  .buttons {
    display: none;
    background-color: $white-color;
    padding: 1rem;
    z-index: 1000 !important;
    top: 5rem;
    right: 1.5rem;
    margin-right: 0px;
    border-radius: 8px;
    box-shadow: 0px 4px 154px rgba(34, 34, 34, 0.5);
    position: absolute;
    animation: 0.3s ease scale;

    .follow {
      display: flex !important;
      gap: 4px;

      img {
        max-width: 24px;
      }
    }
  }
  #toggle-buttons {
    display: flex;
  }
}
