#whitenoise {
  .whitenoise__header {
    background: $primary-color;
    color: $white-color;
    padding: 2rem 3rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      color: $black-color;
      background: $white-color;
      border: 1px solid $black-color;
      border-radius: 8px;
      box-shadow: $box-shadow;
      padding: 1rem;

      &:hover {
        cursor: pointer;
      }

      .option__image {
        width: 28px;
      }
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
