/******* Colors ********/
$primary-color: #D26F75;
$light-color: #ece7dd;
$black-color: #222222;
$white-color: #fdfdfd;

/******* Layouts ********/
@mixin flex($justify: space-between, $items: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify; 
  align-items: $items;
}

/******* Box Shadow ********/
$box-shadow: 0px 4px 154px rgba(34, 34, 34, 0.05);
